/*---Google Form---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/*---Varibles CSS---*/
:root {
    --primary-color: #f2efed;
    --primary-shade: #94928f;
    --secondary-color: #000;
    --secondary-shade: gray;
    --accent-color: #e9d434;
}

.logo {
    color: rgb(215, 221, 204);
    font-size: 18px;
    font-weight: 100;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header section*/
header {
    background: rgb(214, 210, 210);
    background: linear-gradient(90deg rgb(16, 12, 12) 0%,
            rgb(33, 33, 33) 35%, rgba(0, 212, 255, 1)100%);
    background: linear-gradient(to right, rgb(19, 18, 18), rgb(85, 81, 81), rgb(139, 107, 107));
    color: var(--primary-color);
}

.navbar {
    padding: 30px 0;
}

.content {
    height: 90vh;
    position: relative;
}

span {
    color: #d2985e
}

ul li a {
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;

}

ul li a::before {
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.6s ease;
}

ul li a:hover::before {
    width: 100%;
}

.right img {
      
    width: 140%;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    transition: 0.2s ease; 
}

.content .right img:hover {
    filter: drop-shadow(10px 2px 18px rgb(189, 178, 170));
}

h1,
p {
    font-family: 'poppins', sans-serif;
}


.btn {
    background-color: var(--accent-color);
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 2px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 500;

}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--secondary-shade);
    border: 2px solid var(--accent-color);
}

.color-box{
    display: block;
    width: 360px;
    height: 320px;
    border:150px solid rgb(227, 209, 10);
   
    transform: rotate(46deg);
    position: absolute;
    top: 120px;
    right: 35px;
   
}